In [22]:
import pandas as pd
import numpy as np

In [23]:
#Membaca file dengan sheetname Data Aktifitas dan header pada baris ke-4
df = df = pd.read_excel ('data-set.xlsx', sheet_name='Data Aktifitas', header=3)

In [24]:
df.head()

,No.,Tanggal,Nomor,ATM ID,Lokasi,Jenis Layanan,Laporan Kerusakan,Pekerjaan Dilakukan,Nomor Tiket,Penggantian Sparepart,Jumlah Part,Status,CSE,Pilihan
0,1.0,16 Juli 2020,88826.0,ATM00001,RUANG UAT DPTI,Error,Hardware,"Check & Clean all devices, replace ..............",2007-100,Hard Disk,1,,M. Yani,NaN
1,2.0,03 Maret 2020,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,CCA Dispenser (CCA Kit Presenter Ctrl.) 49-747...,1,,Hendri Apridzal,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"EPP5(BSC),LGE,STTL,ENG(AU),QZ1,BLANK,X,I,O",1,,Hendri Apridzal,NaN
3,3.0,02 September 2020,90681.0,ATM120044005,GRAHA ENERGY,PM 1,Preventive Maintenance,"Check & Clean all devices, no replace, test OK.",,,,,ozi medina,NaN
4,4.0,09 September 2020,89466.0,ATM120047014,NaN,Installation,Installation,"Instalasi ATM, Check all devices, test OK.",,,,,M. Yani,NaN

In [25]:
#Mengisi data NaN dengan data diatasnya
df.ffill(inplace=True)

In [26]:
df.head()

,No.,Tanggal,Nomor,ATM ID,Lokasi,Jenis Layanan,Laporan Kerusakan,Pekerjaan Dilakukan,Nomor Tiket,Penggantian Sparepart,Jumlah Part,Status,CSE,Pilihan
0,1.0,16 Juli 2020,88826.0,ATM00001,RUANG UAT DPTI,Error,Hardware,"Check & Clean all devices, replace ..............",2007-100,Hard Disk,1,,M. Yani,NaN
1,2.0,03 Maret 2020,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,CCA Dispenser (CCA Kit Presenter Ctrl.) 49-747...,1,,Hendri Apridzal,NaN
2,2.0,03 Maret 2020,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,"EPP5(BSC),LGE,STTL,ENG(AU),QZ1,BLANK,X,I,O",1,,Hendri Apridzal,NaN
3,3.0,02 September 2020,90681.0,ATM120044005,GRAHA ENERGY,PM 1,Preventive Maintenance,"Check & Clean all devices, no replace, test OK.",,,,,ozi medina,NaN
4,4.0,09 September 2020,89466.0,ATM120047014,GRAHA ENERGY,Installation,Installation,"Instalasi ATM, Check all devices, test OK.",,,,,M. Yani,NaN

In [27]:
#Merubah format kolom Tanggal agar mudah diubah menjadi format datetime
df['Tanggal'] = df['Tanggal'].str.replace(' Januari ','01')
df['Tanggal'] = df['Tanggal'].str.replace(' Februari ','02')
df['Tanggal'] = df['Tanggal'].str.replace(' Maret ','03')
df['Tanggal'] = df['Tanggal'].str.replace(' April ','04')
df['Tanggal'] = df['Tanggal'].str.replace(' Mei ','05')
df['Tanggal'] = df['Tanggal'].str.replace(' Juni ','06')
df['Tanggal'] = df['Tanggal'].str.replace(' Juli ','07')
df['Tanggal'] = df['Tanggal'].str.replace(' Agustus ','08')
df['Tanggal'] = df['Tanggal'].str.replace(' September ','09')
df['Tanggal'] = df['Tanggal'].str.replace(' Oktober ','10')
df['Tanggal'] = df['Tanggal'].str.replace(' November ','11')
df['Tanggal'] = df['Tanggal'].str.replace(' Desember ','12')

In [28]:
df.head()

,No.,Tanggal,Nomor,ATM ID,Lokasi,Jenis Layanan,Laporan Kerusakan,Pekerjaan Dilakukan,Nomor Tiket,Penggantian Sparepart,Jumlah Part,Status,CSE,Pilihan
0,1.0,16072020,88826.0,ATM00001,RUANG UAT DPTI,Error,Hardware,"Check & Clean all devices, replace ..............",2007-100,Hard Disk,1,,M. Yani,NaN
1,2.0,03032020,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,CCA Dispenser (CCA Kit Presenter Ctrl.) 49-747...,1,,Hendri Apridzal,NaN
2,2.0,03032020,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,"EPP5(BSC),LGE,STTL,ENG(AU),QZ1,BLANK,X,I,O",1,,Hendri Apridzal,NaN
3,3.0,02092020,90681.0,ATM120044005,GRAHA ENERGY,PM 1,Preventive Maintenance,"Check & Clean all devices, no replace, test OK.",,,,,ozi medina,NaN
4,4.0,09092020,89466.0,ATM120047014,GRAHA ENERGY,Installation,Installation,"Instalasi ATM, Check all devices, test OK.",,,,,M. Yani,NaN

In [29]:
#Merubah format kolom Tangal menjadi datetime
df['Tanggal'] = pd.to_datetime(df['Tanggal'], format='%d%m%Y')

In [30]:
df.head()

,No.,Tanggal,Nomor,ATM ID,Lokasi,Jenis Layanan,Laporan Kerusakan,Pekerjaan Dilakukan,Nomor Tiket,Penggantian Sparepart,Jumlah Part,Status,CSE,Pilihan
0,1.0,2020-07-16,88826.0,ATM00001,RUANG UAT DPTI,Error,Hardware,"Check & Clean all devices, replace ..............",2007-100,Hard Disk,1,,M. Yani,NaN
1,2.0,2020-03-03,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,CCA Dispenser (CCA Kit Presenter Ctrl.) 49-747...,1,,Hendri Apridzal,NaN
2,2.0,2020-03-03,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,"EPP5(BSC),LGE,STTL,ENG(AU),QZ1,BLANK,X,I,O",1,,Hendri Apridzal,NaN
3,3.0,2020-09-02,90681.0,ATM120044005,GRAHA ENERGY,PM 1,Preventive Maintenance,"Check & Clean all devices, no replace, test OK.",,,,,ozi medina,NaN
4,4.0,2020-09-09,89466.0,ATM120047014,GRAHA ENERGY,Installation,Installation,"Instalasi ATM, Check all devices, test OK.",,,,,M. Yani,NaN

In [31]:
#Drop kolom yang tidak diperlukan
df.drop(['No.', 'Status', 'Pilihan'], axis = 1, inplace=True)
df.head()

,Tanggal,Nomor,ATM ID,Lokasi,Jenis Layanan,Laporan Kerusakan,Pekerjaan Dilakukan,Nomor Tiket,Penggantian Sparepart,Jumlah Part,CSE
0,2020-07-16,88826.0,ATM00001,RUANG UAT DPTI,Error,Hardware,"Check & Clean all devices, replace ..............",2007-100,Hard Disk,1,M. Yani
1,2020-03-03,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,CCA Dispenser (CCA Kit Presenter Ctrl.) 49-747...,1,Hendri Apridzal
2,2020-03-03,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,"EPP5(BSC),LGE,STTL,ENG(AU),QZ1,BLANK,X,I,O",1,Hendri Apridzal
3,2020-09-02,90681.0,ATM120044005,GRAHA ENERGY,PM 1,Preventive Maintenance,"Check & Clean all devices, no replace, test OK.",,,,ozi medina
4,2020-09-09,89466.0,ATM120047014,GRAHA ENERGY,Installation,Installation,"Instalasi ATM, Check all devices, test OK.",,,,M. Yani

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3662 entries, 0 to 3661
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Tanggal                3662 non-null   datetime64[ns]
 1   Nomor                  3662 non-null   float64
 2   ATM ID                 3662 non-null   object
 3   Lokasi                 3662 non-null   object
 4   Jenis Layanan          3662 non-null   object
 5   Laporan Kerusakan      3662 non-null   object
 6   Pekerjaan Dilakukan    3662 non-null   object
 7   Nomor Tiket            3662 non-null   object
 8   Penggantian Sparepart  3662 non-null   object
 9   Jumlah Part            3662 non-null   object
 10  CSE                    3662 non-null   object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 314.8+ KB

In [33]:
#Replace value yang kosong menjadi NaN
df = df.replace(r'^\s*$', np.NaN, regex=True)

In [34]:
#Merubah tipe data kolom Nomor dan Jumlah Part menjadi numeric
df[['Nomor', 'Jumlah Part']] = df[['Nomor', 'Jumlah Part']].apply(pd.to_numeric)

In [35]:
df.head()

,Tanggal,Nomor,ATM ID,Lokasi,Jenis Layanan,Laporan Kerusakan,Pekerjaan Dilakukan,Nomor Tiket,Penggantian Sparepart,Jumlah Part,CSE
0,2020-07-16,88826.0,ATM00001,RUANG UAT DPTI,Error,Hardware,"Check & Clean all devices, replace ..............",2007-100,Hard Disk,1.0,M. Yani
1,2020-03-03,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,CCA Dispenser (CCA Kit Presenter Ctrl.) 49-747...,1.0,Hendri Apridzal
2,2020-03-03,86010.0,ATM120029008,PLN AHMAD YANI,Error,Hardware,"Check & Clean all devices, replace EPP5 & CCA ...",2003-028,"EPP5(BSC),LGE,STTL,ENG(AU),QZ1,BLANK,X,I,O",1.0,Hendri Apridzal
3,2020-09-02,90681.0,ATM120044005,GRAHA ENERGY,PM 1,Preventive Maintenance,"Check & Clean all devices, no replace, test OK.",NaN,NaN,NaN,ozi medina
4,2020-09-09,89466.0,ATM120047014,GRAHA ENERGY,Installation,Installation,"Instalasi ATM, Check all devices, test OK.",NaN,NaN,NaN,M. Yani

In [36]:
#Cek unique value kolom Jenis Layanan
df['Jenis Layanan'].unique()

array(['Error ', 'PM 1 ', 'Installation ', 'PM pertama', 'PM 2 ',
       'Error & PM ', 'Other ', 'PM 3 ', 'Support ', '3rd PM', nan,
       'Online '], dtype=object)

In [37]:
#Ubah value pada kolom Jenis Layanan dengan yang sesuai
df['Jenis Layanan'] = df['Jenis Layanan'].str.replace('PM pertama','PM 1 ')
df['Jenis Layanan'] = df['Jenis Layanan'].str.replace('3rd PM','PM 3 ')

In [38]:
df['Jenis Layanan'].unique()

array(['Error ', 'PM 1 ', 'Installation ', 'PM 2 ', 'Error & PM ',
       'Other ', 'PM 3 ', 'Support ', nan, 'Online '], dtype=object)

In [39]:
#Cek unique value pada kolom Laporan Kerusakan
df['Laporan Kerusakan'].unique()

array(['Hardware ', 'Preventive Maintenance ', 'Installation ', nan,
       'Non Hardware ', 'PM', 'preventif maintenes'], dtype=object)

In [40]:
#Ubah value pada kolom Laporan Kerusakan dengan yang sesuai
df['Laporan Kerusakan'] = df['Laporan Kerusakan'].str.replace('Preventive Maintenance ','PM')
df['Laporan Kerusakan'] = df['Laporan Kerusakan'].str.replace('preventif maintenes','PM')

In [41]:
df['Laporan Kerusakan'].unique()

array(['Hardware ', 'PM', 'Installation ', nan, 'Non Hardware '],
      dtype=object)

In [42]:
df['CSE'].unique()

array(['M. Yani ', 'Hendri Apridzal ', 'ozi medina ', 'Rajamin Nasution ',
       'Doni Indra ', 'Yovi Kurniawan ', 'Paul Sanjaya ', 'Widodo ',
       'Fajar ', 'Mustajab ', 'Andri S ', 'Maslaini ', 'Toha Mahfudi ',
       'Hadi Warsito ', 'welly ', 'fahrudin ', 'Seno Waldiyanto ',
       'Muhammad Nuh ', 'Herisman ', 'Mario Azlan Pakasi ', 'Suhrowardi ',
       'laila '], dtype=object)

In [43]:
#Simpan ke excel
df.to_excel('data-set-data aktifitas.xlsx')